<%- include('./partials/headEindpagina') %>

<body>
    <header>
        <h1>Eindpagina</h1>
    </header>
    <main>
        <h2>Bedankt!</h2>
        <p>Fijn dat je wilde meewerken met deze enquete. Jouw antwoorden zijn opgeslagen en zullen bekeken worden.</p>
    </main>
</body>

<%- include('./partials/foot') %>