<%- include('./partials/headWafs') %>

<body>
    <header>
        <h1>Vak: 2/4</h1>
        <h2>Webapp from scratch</h2>
    </header>
    <main>
        <form method="post" enctype="application/x-www-form-urlencoded" action="/browsertechnologies">
            <fieldset>
                <h3>Docent</h3>
                <input type="text" id="wafsDocent" placeholder="Naam vakdocent" name="docent" autocomplete="off" required>
                <h3>Startdatum</h3>
                <input type="date" id="wafsStartdatum" name="startdatum" required>
                <h3>Einddatum</h3>
                <input type="date" id="wafsEinddatum" name="einddatum" required>
                <h3>Beoordeling vak</h3>
                <input type="number" id="wafsCijfer" min="1.0" max="10.0" step="0.5" placeholder="1.0 t/m 10.0" name="beoordeling" required>
                <h3>Niveau lesstof</h3>
                <select name="lesstof" id="wafsLesstof" required>
                    <option value="">Kies</option>
                    <option value="Zeer makkelijk">Zeer makkelijk</option>
                    <option value="Makkelijk">Makkelijk</option>
                    <option value="Gemiddeld">Gemiddeld</option>
                    <option value="Moeilijk">Moeilijk</option>
                    <option value="Zeer moeilijk">Zeer moeilijk</option>
                </select>
                <h3>Hoe goed uitgelegd</h3>
                <select name="uitleg" id="wafsUitleg" required>
                    <option value="">Kies</option>
                    <option value="Onduidelijk">Onduidelijk</option>
                    <option value="Gemiddeld">Gemiddeld</option>
                    <option value="Duidelijk">Duidelijk</option>
                </select>
                <h3>Eigen inzicht</h3>
                <select name="inzicht" id="wafsInzicht"  required>
                    <option value="">Kies</option>
                    <option value="Ik beheers de stof niet">Ik beheers de stof niet</option>
                    <option value="Ik beheers de stof redelijk">Ik beheers de stof redelijk</option>
                    <option value="Ik beheers de stof goed ">Ik beheers de stof goed</option>
                </select>
            </fieldset>
            <a href="/browsertechnologies">
                <input type="submit" value="Volgend vak" id="submitButton">
            </a>
        </form>
    </main>
</body>


<%- include('./partials/foot') %>
